</div>
<br>
<br>
<footer style="background-color:skyblue; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center"><h5>Copyright &copy; 2019</h5><h5>이건호(Alogon)
            </h5></div> 
        </div>
    </div>
</footer>
</body>
</html>
